# Sets

A set is declared by using curly brackets:  {}
A set contains only unique values
The order doesn't matter

In [1]:
mySet = {'a','b','c'}
mySet

{'a', 'b', 'c'}

You can also define it by passing an sort of iterable object by using the constructor of set class

In [3]:
mySet = set(['a','b','c']) # passing a list as a parameter
mySet

{'a', 'b', 'c'}

In [4]:
mySet = set(('a','b','c')) # passing a tuple as a parameter
mySet

{'a', 'b', 'c'}

In [7]:
myList = ['a','b','b','c','c']
myList = list(set(myList))
myList

['a', 'b', 'c']

In [8]:
myList = ['a','b','b','c','c']
myList = set(myList)
myList

{'a', 'b', 'c'}

In [9]:
mySet[0]

TypeError: 'set' object is not subscriptable

In [11]:
number = 1
1[0]

<>:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
C:\Users\JTOMBO\AppData\Local\Temp\ipykernel_8092\2203923273.py:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  1[0]

TypeError: 'int' object is not subscriptable

In [12]:
mySet.add('d')
mySet

{'a', 'b', 'c', 'd'}

In [13]:
'a' in mySet

True

In [14]:
'z' in mySet

False

In [15]:
len(mySet)

4

In [ ]:
Iterating over a set

In [16]:
while len(mySet):
    print(mySet.pop())

a
d
b
c

In [17]:
mySet

set()

In [18]:
mySet = {'a','b','c'}

In [20]:
mySet.discard('a')
mySet

{'b', 'c'}

# Tuples

In [ ]:
Declared with parentheses: ()
Are ordered and "subscriptable"
Cannot be modified
More efficient lists, since size is constant
They don't grow or change
Store compactly in memory, memory is only allocated as needed

In [21]:
myTuple = {'a','b','c'}
myTuple

{'a', 'b', 'c'}

In [22]:
def returnsMultipleValues():
    return 1,2,3 #prefered for industry standard
type(returnsMultipleValues())

tuple

In [23]:
def returnsMultipleValues():
    return (1,2,3)
type(returnsMultipleValues())

tuple

In [24]:
myTuple = 1,2,3
type(myTuple)

tuple

In [25]:
myTuple = (1,2,3) #prefered for industry standard
type(myTuple)

tuple

In [26]:
a,b,c = returnsMultipleValues()

In [27]:
print(a)
print(b)
print(c)

1
2
3